/* ************************************************************************************************* */
/* ********************************************  Hero ********************************************** */
@import "admin-lte/plugins/fontawesome-free/css/all";
@import "admin-lte/dist/css/adminlte";



/* NAVBAR STYLING STARTS */
.navbar1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
    /* background-color:#1c1d1c; */
    background:#000  ;
    opacity: 0.5;
    color: #000;
    height: 30%;
    }
    
    .navbar1 .nav-links a {
    color: #ffffff;
    font-weight: bold;
    list-style: none;
    opacity: 1 !important;
    }
    
    /* LOGO */
    .logo {
      color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    }
    
    /* NAVBAR MENU */
    .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    }
    
    .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
    }
    
    .menu li {
    padding: 5px 14px;
    }
    
    /* DROPDOWN MENU */
    .services {
    position: relative; 
    }
    
    .dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
    }
    
    .dropdown li + li {
    margin-top: 10px;
    }
    
    .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
    }
    
    .dropdown li:hover {
    background-color: #4c9e9e;
    }
    
    .services:hover .dropdown {
    display: block;
    }
 


/* ********************************************************************************************** */
/* ************************ header ***************************************************** */
header.hero {
    background: url(../js/src/assest/images/header.avif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    padding-bottom: 80px;
  }
  header.hero .hero-text {
    margin-top: 20%;
    margin-bottom: 20%;
  }
  header.hero h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5em;
    font-weight: 600;
    line-height: 1.4em;
  }
  header.hero h1 span,
  header.hero h3 {
    font-weight: 300;
  }
  header.hero .btn {
    margin: 3em 0;
  }

  /* ************************************************************************************************ */
  /* *************** slide card ***************** */
  /* Define variables */
:root {
    --vue-navy: #2c3e50;
    --vue-navy-light: #3a5169;
    --vue-teal: #42b883;
    --vue-teal-light: #42b983;
    --gray: #666a73;
    --light-gray: #f8f8f8;
    --vue-teal-footer: teal;
  }
  
  /* Apply styles to body */
  body {
    background: var(--light-gray);
    color: var(--vue-navy);
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  /* Apply styles to card carousel wrapper */
  .card-carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 40px;
    color: var(--gray);
  }
  
  /* Apply styles to card carousel */
  .card-carousel {
    display: flex;
    justify-content: center;
    width: 750px;
  }
  
  /* Apply styles to card carousel overflow container */
  .card-carousel--overflow-container {
    overflow: hidden;
  }
  
  /* Apply styles to card carousel navigation */
  .card-carousel--nav__left,
  .card-carousel--nav__right {
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-top: 2px solid var(--vue-teal);
    border-right: 2px solid var(--vue-teal);
    cursor: pointer;
    margin: 0 20px;
    transition: transform 150ms linear;
  }
  
  /* Apply styles to card carousel navigation disabled state */
  .card-carousel--nav__left[disabled],
  .card-carousel--nav__right[disabled] {
    opacity: 0.2;
    border-color: black;
  }
  
  /* Apply styles to card carousel left navigation */
  .card-carousel--nav__left {
    transform: rotate(-135deg);
  }
  
  /* Apply styles to card carousel left navigation on active state */
  .card-carousel--nav__left:active {
    transform: rotate(-135deg) scale(0.9);
  }
  
  /* Apply styles to card carousel right navigation */
  .card-carousel--nav__right {
    transform: rotate(45deg);
  }
  
  /* Apply styles to card carousel right navigation on active state */
  .card-carousel--nav__right:active {
    transform: rotate(45deg) scale(0.9);
  }
  
  /* Apply styles to card carousel cards */
  .card-carousel-cards {
    display: flex;
    transition: transform 150ms ease-out;
    transform: translateX(0px);
  }
  
  /* Apply styles to card carousel card */
  .card-carousel--card {
    margin: 0 10px;
    cursor: pointer;
    box-shadow: 0 4px 15px 0 rgba(40, 44, 53, 0.06), 0 2px 2px 0 rgba(40, 44, 53, 0.08);
    background-color: #fff;
    border-radius: 4px;
    z-index: 3;
    margin-bottom: 2px;
  }
  
  /* Apply styles to first card in carousel */
  .card-carousel--card:first-child {
    margin-left: 0;
  }
  
  /* Apply styles to last card in carousel */
  .card-carousel--card:last-child {
    margin-right: 0;
  }
  
  /* Apply styles to card image */
  .card-carousel--card img {
    vertical-align: bottom;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: opacity 150ms linear;
    user-select: none;
  }
  
  /* Apply styles to card name  */
  .card-carousel--card--footer{
    border-top: 0;
    padding: 7px 15px;
  }
  .para{
    padding: 20px 20px;
    margin: 0;
    margin-bottom: 2px;
    font-size: 19px;
    font-weight: 500;
    color: black;
    user-select: none;
  }

 /* ************************************************************************************************ */
  /* common style for some sections */
.common_style>section {
  padding: 50px 0;
}

.common_style .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center;
}

.common_style h3 {
  font-weight: 600;
  color: #151516;
}

.common_style p {
  font-weight: 600;
  color: #4e4f50;
  margin: 30px 0 50px 0;
}

.common_style .img {
  width: 80%;
  height:  50%;
}
.common_style .pen{
  height:  30%;
  width: 70%;
}
 
.common_style .col-md-6{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.common_style .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

/* end common style */

 /* ************************************************************************************************ */
  /* *************** Footer ***************** */

  .footer-widget p {
    margin-bottom: 27px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
  color:white;
    line-height: 28px;
}
 

   .animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: var(--vue-teal-footer); }

.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite; }

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

.animate-border.border-white:after {
  border-color: #fff; }

.animate-border.border-yellow:after {
  border-color: #F5B02E; }

.animate-border.border-orange:after {
  border-right-color: var(--vue-teal-footer);
  border-left-color:  var(--vue-teal-footer); }

.animate-border.border-ash:after {
  border-right-color: #EEF0EF;
  border-left-color: #EEF0EF; }

.animate-border.border-offwhite:after {
  border-right-color: #F7F9F8;
  border-left-color: #F7F9F8; }

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%; }
  50% {
    width: 90%; }
  100% {
    width: 10%; } }

@keyframes primary-long {
  0% {
    width: 80%; }
  50% {
    width: 0%; }
  100% {
    width: 80%; } } 

.dk-footer {
  padding: 75px 0 0;
  background-color: #151414;
  position: relative;
  z-index: 2; }
  .dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 80px; }
    .dk-footer .contact-us .contact-info {
      margin-left: 50px; }
    .dk-footer .contact-us.contact-us-last {
      margin-left: -80px; }
  .dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color:var(--vue-teal-footer); }

.dk-footer-box-info {
  position: absolute;
  top: -122px;
  background: #202020;
  padding: 40px;
  z-index: 2; }
  .dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px; }
  .dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .dk-footer-box-info .footer-social-link li {
    display: inline-block; }
  .dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff; }
    .dk-footer-box-info .footer-social-link a i.fa-facebook {
      background-color: #3B5998; }
    .dk-footer-box-info .footer-social-link a i.fa-twitter {
      background-color: #55ACEE; }
    .dk-footer-box-info .footer-social-link a i.fa-google-plus {
      background-color: #DD4B39; }
    .dk-footer-box-info .footer-social-link a i.fa-linkedin {
      background-color: #0976B4; }
    .dk-footer-box-info .footer-social-link a i.fa-instagram {
      background-color: #B7242A; }

.footer-awarad {
  margin-top: 285px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px; }

.footer-info-text {
  margin: 26px 0 32px; }

.footer-left-widget {
  padding-left: 80px; }

.footer-widget .section-heading {
  margin-bottom: 35px; }

.footer-widget h3 {
  font-size: 24px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content; }

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-widget li {
  margin-bottom: 18px; }

.footer-widget p {
  margin-bottom: 27px; }

.footer-widget a {
  color: #878787;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .footer-widget a:hover {
    color: var(--vue-teal-footer); }

.footer-widget:after {
  content: "";
  display: block;
  clear: both; }

.dk-footer-form {
  position: relative; }
  .dk-footer-form input[type=email] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid var(--vue-teal-footer);
    background: var(--vue-teal-footer);
    color: #fff; }
  .dk-footer-form button:hover {
    cursor: pointer; }

/* ==========================

    Contact

=============================*/
.contact-us {
  position: relative;
  z-index: 2;
  margin-top: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contact-icon {
  position: absolute; }
  .contact-icon i {
    font-size: 36px;
    top: -5px;
    position: relative;
    color: var(--vue-teal-footer); }

.contact-info {
  margin-left: 75px;
  color: #fff; }
  .contact-info h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0; }

.copyright {
  padding: 28px 0;
  margin-top: 55px;
  background-color: #202020; }
  .copyright span,
  .copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .copyright a:hover {
    color:var(--vue-teal-footer); }

.copyright-menu ul {
  text-align: right;
  margin: 0; }

.copyright-menu li {
  display: inline-block;
  padding-left: 20px; }

.back-to-top {
  position: relative;
  z-index: 2; }
  .back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .back-to-top .btn-dark:hover {
      cursor: pointer;
      background: #FA6742;
      border-color: #FA6742; }