/* ********************************* */
/* ***************  Hero ***************** */

/* @import 'vue-base-input/src/assets/vue-base-input.css'; */

@import "admin-lte/plugins/fontawesome-free/css/all";
@import "admin-lte/dist/css/adminlte";
/* main.css */
 

/* NAVBAR STYLING STARTS */
/* .flexnavbar{
  
} */
:root{
  --el-color-primary: #4c9e9e;
  --el-menu-active-color: var(--el-color-primary);

}

.navbar1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 20px ;
     margin-bottom: 0;
   
  }
    /* background-color:#1c1d1c; */
    /* height: 30%; */
   
    .navbar1 .nav-links  {
      margin-bottom: 0;
    }
 .logo1  {
      margin-top: 5px;
      margin-bottom: 0;
      color: #ffffff;
    width:80px;
    }
    
    .navbar1 .nav-links a {
    color: #ffffff;
    /* font-weight: bold; */
    list-style: none;
    opacity: 1 !important;
    margin: 0;
    } */
    
    /* LOGO */
    .logo1 {
      
    margin: 0 ;
    }
    
    /* NAVBAR MENU */
    .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    }
    
    .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
    }
    
    .menu li {
    padding: 5px 14px;
    }
    
    /* DROPDOWN MENU */
    .services {
    position: relative; 
    }
    
    .dropdown {
    background-color: #457973;
    padding: 1em 0;
    position: absolute; 
    display: none;
    border-radius: 8px;
    top: 35px;
    }
    
    .dropdown li + li {
    margin-top: 10px;
    }
    
    .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
    }
    
    .dropdown li:hover {
    background-color: #4c9e9e;
    }
    
    .services:hover .dropdown {
    display: block;
    }
 


/* ******************************** */
/* ******** header ******************* */
header.hero {
  background: url(../js/src/assest/images/header6.jpg) no-repeat center center fixed;
  /* background-image: url('../js/src/assest/images/header5.jpeg'); */
  
  background-size: cover;
  
 
  color: #fff;
  padding-bottom: 120px;
}

  header.hero .hero-text {
    margin-top: 15%;
    margin-bottom: 20%;
  }
  header.hero h1 {
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 4em;
    font-weight: 600;
    line-height: 1.2em;
  }
  header.hero h1 span,
  header.hero h3 {
    font-weight: 300;
  }
  header.hero .btn {
    margin: 3em 0;
  }

  /* ******************************** */
  /* ***** slide card ******* */

  
  /* Apply styles to card carousel wrapper */
  .card-carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0 40px;
    
  }
  :root{
    --vue-teal-footer : #457973;
  }
  
  
  /* Apply styles to card carousel cards */
  .card-carousel-cards {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
    /* transition: transform 150ms ease-out;
    transform: translateX(0px); */
  }
  
  /* Apply styles to card carousel card */
  .card-carousel--card {
   width: 19rem;
    margin: 0 10px;
    cursor: pointer;
    box-shadow: 0 4px 15px 0 rgba(40, 44, 53, 0.06), 0 2px 2px 0 rgba(40, 44, 53, 0.08);
    background-color: #fff;
  

    margin-bottom: 2px;
  }
  
  .flexCardsImage{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
 
  
  /* Apply styles to card image */
  .card-carousel--card img {
    vertical-align: bottom;
    /* border-radius: 50%; */
  width: 10rem;
  padding: 10px;
    transition: opacity 150ms linear;

   
  }
  
  /* Apply styles to card name  */
 
  .para{
    padding: 20px 10px;
    margin: 0;
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: 300;
    color: black;
    user-select: none;
  }

 /* ******************************** */
  /* common style for some sections */
.common_style>section {
  padding: 50px 0;
}

.common_style .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center;
}

.common_style h3 {
  font-weight: 600;
  color: #457973;
}

.common_style p {
  font-weight: 400;
  color: #4e4f50;
  margin: 30px 0 50px 0;
}

.common_style .img {
  width: 80%;
  height:  50%;
}
.common_style .pen{
  height:  30%;
  width: 70%;
}
 
.common_style .col-md-6{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.common_style .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

/* end common style */

 /* ******************************** */
  /* ***** Footer ******* */

  .footer-widget p {
    margin-bottom: 27px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
  color:white;
    line-height: 28px;
}
 

   .animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: var(--vue-teal-footer); }

.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite; }

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

.animate-border.border-white:after {
  border-color: #4c9e9e; }

.animate-border.border-yellow:after {
  border-color: #F5B02E; }

.animate-border.border-orange:after {
  border-right-color: var(--vue-teal-footer);
  border-left-color:  var(--vue-teal-footer); }

.animate-border.border-ash:after {
  border-right-color: #EEF0EF;
  border-left-color: #EEF0EF; }

.animate-border.border-offwhite:after {
  border-right-color: #F7F9F8;
  border-left-color: #F7F9F8; }

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%; }
  50% {
    width: 90%; }
  100% {
    width: 10%; } }

@keyframes primary-long {
  0% {
    width: 80%; }
  50% {
    width: 0%; }
  100% {
    width: 80%; } } 

.dk-footer {
  padding: 75px 0 0;
  background-color: #151414;
  position: relative;
  z-index: 2; }
  .dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 80px; }
    .dk-footer .contact-us .contact-info {
      margin-left: 50px; }
    .dk-footer .contact-us.contact-us-last {
      margin-left: -80px; }
  .dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color:var(--vue-teal-footer); }

.dk-footer-box-info {
  position: absolute;
  top: -122px;
  background: #202020;
  padding: 40px;
  z-index: 2; }
  .dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px; }
  .dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .dk-footer-box-info .footer-social-link li {
    display: inline-block; }
  .dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff; }
    .dk-footer-box-info .footer-social-link a i.fa-facebook {
      background-color: #3B5998; }
    .dk-footer-box-info .footer-social-link a i.fa-twitter {
      background-color: #55ACEE; }
    .dk-footer-box-info .footer-social-link a i.fa-google-plus {
      background-color: #DD4B39; }
    .dk-footer-box-info .footer-social-link a i.fa-linkedin {
      background-color: #0976B4; }
    .dk-footer-box-info .footer-social-link a i.fa-instagram {
      background-color: #B7242A; }

.footer-awarad {
  margin-top: 285px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px; }

.footer-info-text {
  margin: 26px 0 32px; }

.footer-left-widget {
  padding-left: 80px; }

.footer-widget .section-heading {
  margin-bottom: 35px; }

.footer-widget h3 {
  font-size: 24px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content; }

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-widget li {
  margin-bottom: 18px; }

.footer-widget p {
  margin-bottom: 27px; }

.footer-widget a {
  color: #878787;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .footer-widget a:hover {
    color: var(--vue-teal-footer); }

.footer-widget:after {
  content: "";
  display: block;
  clear: both; }


/* ==========================

    Contact

=============================*/
.contact-us {
  position: relative;
  z-index: 2;
  margin-top: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contact-icon {
  position: absolute; }
  .contact-icon i {
    font-size: 36px;
    top: -5px;
    position: relative;
    color: var(--vue-teal-footer); }

.contact-info {
  margin-left: 75px;
  color: #fff; }
  .contact-info h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0; }
